<%- contentFor('HeaderCss') %>

<!-- DataTables -->
<link href="public/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />

<!-- Responsive datatable examples -->
<link href="public/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" /> 

<%- contentFor('breadcrumb') %>

<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Vehiculos</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">BackOffice</a></li>
                    <li class="breadcrumb-item active">Vehiculos</li>
                </ol>
            </div>

        </div>
    </div>
</div>

<%- contentFor('body') %>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <a href="javascript:void(0);" class="btn btn-primary mb-2 open-form-new-modal" ><i class="mdi mdi-plus me-2"></i> Agregar Vehiculo</a>
                    </div>
                    <div class="col-md-9 hide-obj">
                        <form id="form_filter_dt">
                            <div id="formFilterDT" class="form_filter_container">

                            </div>
                        </form>
                    </div>
                    
                </div>
                <div class="modal fade" id="modalCreateVehicle" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="modalCreateVehicleLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalCreateVehicleLabel">Registrar Vehiculo</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form id="form-add-vehicle" class="needs-validation form-app-inputs">
                                <div class="modal-body">
                                    <div id="modal-add-company">
                                        <div class="row">
                                            <ul class="form-submenu-left form-sb-left-veh-add">
                                                <li class="active" ref-form="vehicle-general" ref-parent="form-sb-left-veh-add" ref-content="form-content-vehicle-add">General</li>
                                                <li ref-form="vehicle-maintenance" ref-parent="form-sb-left-veh-add" ref-content="form-content-vehicle-add">Mantenimiento</li>
                                            </ul>
                                            <div class="form-submenu-container">
                                                    <div id="vehicle-general" class="form-submenu-content form-content-vehicle-add active">
                                                        <p>general</p>
                                                    </div>
                                                    <div id="vehicle-maintenance" class="form-submenu-content form-content-vehicle-add">
                                                        <p>informacon</p>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light waves-effect" data-bs-dismiss="modal">Cancelar</button>
                                    <button type="submit" class="btn btn-outline-danger waves-effect waves-light">Guardar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="modalEditVehicle" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="modalEditVehicleLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalEditVehicleLabel">Editar Vehiculo</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form id="form-edit-vehicle" class="form-app-inputs needs-validation">
                                <div class="modal-body">
                                    <div id="modal-add-company">
                                        <div class="row">
                                            <ul class="form-submenu-left form-sb-left-veh-edit">
                                                <li class="active" ref-form="edit-vehicle-general" ref-parent="form-sb-left-veh-edit" ref-content="form-content-vehicle-edit">General</li>
                                                <li ref-form="edit-vehicle-maintenance" ref-parent="form-sb-left-veh-edit" ref-content="form-content-vehicle-edit">Mantenimiento</li>
                                                <!-- <li ref-form="vehicle-sensors">Sensores</li> -->
                                            </ul>
                                            <div class="form-submenu-container">
                                                <div id="edit-vehicle-general" class="form-submenu-content form-content-vehicle-edit active">
                                                    <p>general</p>
                                                </div>
                                                <div id="edit-vehicle-maintenance" class="form-submenu-content form-content-vehicle-edit">
                                                    <p>informacon</p>
                                                </div>
                                                <!-- </form> -->
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light waves-effect" data-bs-dismiss="modal">Cancelar</button>
                                    <button type="submit" class="btn btn-outline-danger waves-effect waves-light">Actualizar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="table-responsive mt-3">
                    
                    <table id="dtVehicles" class="table table-centered activate-select  w-100 datatable dt-responsive nowrap " style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                        <thead class="thead-light">
                            <tr>
                                <th style="width: 20px;">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="customercheck">
                                        <label class="form-check-label mb-0" for="customercheck">&nbsp;</label>
                                    </div>
                                </th>
                                <th>ID</th>
                                <th>Ficha</th>
                                <th>Identificador</th>
                                <th>IMEI</th>
                                <th>Empresa</th>
                                <th>Grupo Asig.</th>
                                <th>Tipo</th>
                                <th>Marca</th>
                                <th>Placa</th>
                                <th>Estatus</th>
                                <th>Fecha Reg.</th>
                                <th style="width: 120px;">Opciones</th>
                            </tr>
                        </thead>
                        <!--  -->
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<%- contentFor('FooterJs') %>

 <!-- Required datatable js -->
 <script src="public/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
 <script src="public/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
 
 <!-- Responsive examples -->
 <script src="public/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
 <script src="public/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

 <!-- <script src="public/assets/js/pages/app.helper.js"></script> -->
 <script src="public/assets/js/pages/adm-vehicles.init.js"></script>

<%- contentFor('BottomJs') %>