<%- contentFor('HeaderCss') %>

<!-- DataTables -->
<link href="public/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />

<!-- Responsive datatable examples -->
<link href="public/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" /> 

<%- contentFor('breadcrumb') %>

<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Alertas</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">BackOffice</a></li>
                    <li class="breadcrumb-item active">Alertas</li>
                </ol>
            </div>

        </div>
    </div>
</div>

<%- contentFor('body') %>

<div class="row">
    <div class="col-lg-12">
        <div class="card ">
            <div class="card-body">
                <div>
                    <a href="javascript:void(0);" class="btn btn-primary mb-2" data-bs-toggle="modal" data-bs-target="#modalCreateCompany"><i class="smi smi-plus me-2"></i> Agregar Alerta</a>
                </div>
                <div class="modal fade" id="modalCreateCompany" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="modalCreateCompanyLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable" role="document">
                        <div class="modal-content overflow-auto">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalCreateCompanyLabel">Registrar Alerta</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form id="form-add-company" class="form-app-inputs needs-validation">    
                                <div class="modal-body">
                                    <div id="modal-add-company">
                                        <div class="row">
                                            <ul class="form-submenu-left form-sb-left-cia-add">
                                                <li class="active" ref-form="alert-assing" ref-parent="form-sb-left-cia-add" ref-content="form-content-cia-add">Asignar</li>
                                                <li ref-form="alert-config" ref-parent="form-sb-left-cia-add" ref-content="form-content-cia-add">Configurar</li>
                                                <li ref-form="alert-time" ref-parent="form-sb-left-cia-add" ref-content="form-content-cia-add">Período</li>
                                                <li ref-form="alert-notify" ref-parent="form-sb-left-cia-add" ref-content="form-content-cia-add">Notificación</li>
                                                <li ref-form="alert-confirm" ref-parent="form-sb-left-cia-add" ref-content="form-content-cia-add">Descripción</li>
                                            </ul>
                                            <div class="form-submenu-container">
                                                <div id="alert-assing" class="form-submenu-content form-content-cia-add active">
                                                    <h5>Asignar</h5>
                                                    <hr/>
                                                    <h5 class="mb-4 text-gray">Vehículos</h5>
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div class="form-check mb-3">
                                                                <input class="form-check-input" type="radio" name="formRadios" id="formRadio1" >
                                                                <label class="form-check-label" for="formRadio1">
                                                                    Ninguno
                                                                </label>
                                                            </div>
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="radio" name="formRadios" id="formRadio2">
                                                                <label class="form-check-label" for="formRadio2">
                                                                    Vehículo
                                                                </label>
                                                            </div>
                                                            <select class="form-select" aria-label="Default select example">
                                                                <option selected="">Seleccionar vehículo</option>
                                                                <option value="1">One</option>
                                                                <option value="2">Two</option>
                                                                <option value="3">Three</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="form-check mb-3">
                                                                <input class="form-check-input" type="radio" name="formRadios" id="formRadio3" checked="">
                                                                <label class="form-check-label" for="formRadio3">
                                                                    Todos
                                                                </label>
                                                            </div>
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="radio" name="formRadios" id="formRadio4">
                                                                <label class="form-check-label" for="formRadio4">
                                                                    Grupo de vehículos
                                                                </label>
                                                            </div>
                                                            <select class="form-select" aria-label="Default select example">
                                                                <option selected="">Seleccionar grupo</option>
                                                                <option value="1">One</option>
                                                                <option value="2">Two</option>
                                                                <option value="3">Three</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="alert-config" class="form-submenu-content form-content-cia-add">
                                                    <h5>Agregar críterios</h5>
                                                    <div class="row mb-3">
                                                        <div class="col-sm-8">
                                                            <select class="form-select" aria-label="Default select example">
                                                                <option selected="">Seleccionar</option>
                                                                <option value="1">Geocerca</option>
                                                                <option value="2">Velocidad</option>
                                                                <option value="3">Botón de pánico</option>
                                                                <option value="4">Sin covertura GPS</option>
                                                                <option value="5">Equipo desactualizado</option>
                                                                <option value="5">Desconexión alimentación</option>
                                                                <option value="5">Exceso ralentí</option>
                                                                <option value="5">Remolque</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <button type="button" class="btn btn-success waves-effect">Agregar</button>
                                                        </div>
                                                    </div>
                                                    <hr/>
                                                    <div class="row mb-3">
                                                        <label class="col-sm-4 col-form-label">Velocidad</label>
                                                        <div class="col-sm-4">
                                                            <select class="form-select" aria-label="Default select example">
                                                                <option selected="">Seleccionar</option>
                                                                <option value="1">Mayor de</option>
                                                                <option value="2">Menor de</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <input class="form-control" type="text" placeholder="0" id="example-text-input">
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <label class="col-form-label">Km/h</label>
                                                        </div>
                                                    </div>
                                                    <div class="row mb-3">
                                                        <label class="col-sm-4 col-form-label">Geocerca</label>
                                                        <div class="col-sm-8">
                                                            <select class="form-select" aria-label="Default select example">
                                                                <option selected="">Seleccionar</option>
                                                                <option value="1">AGL</option>
                                                                <option value="2">Base principal</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="row mb-3">
                                                        <label class="col-sm-4 col-form-label">Botón de pánico</label>
                                                        <div class="col-sm-8">
                                                            <select class="form-select" aria-label="Default select example">
                                                                <option selected="">Seleccionar</option>
                                                                <option value="1">Input 1</option>
                                                                <option value="1">Input 2</option>
                                                                <option value="1">Input 3</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div id="alert-time" class="form-submenu-content form-content-cia-add">
                                                    <h5>Período de la alerta</h5>
                                                    <hr/>

                                                    <h6 class="font-weight-bold">Período</h6>
                                                    <div class="row form-content-cia-add bg-light mb-3">
                                                        <div class="col-sm-6">
                                                            <label for="">Desde</label>
                                                            <input class="form-control" type="datetime-local" value="" id="example-datetime-local-input">
                                                        </div>
                                                        <div class="col-sm-6 mb-3">
                                                            <label for="">Hasta</label>
                                                            <input class="form-control" type="datetime-local" value="" id="example-datetime-local-input">
                                                        </div>
                                                    </div>

                                                    <h6 class="font-weight-bold">Horario</h6>
                                                        <div class="row">
                                                            <label class="col-sm-4 col-form-label">Lunes</label>
                                                            <div class="col-sm-4">
                                                                <input class="form-control" type="time" value="00:00:00" id="example-time-input">
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <input class="form-control" type="time" value="23:59:59" id="example-time-input">
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <label class="col-sm-4 col-form-label">Martes</label>
                                                            <div class="col-sm-4">
                                                                <input class="form-control" type="time" value="00:00:00" id="example-time-input">
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <input class="form-control" type="time" value="23:59:59" id="example-time-input">
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <label class="col-sm-4 col-form-label">Miércoles</label>
                                                            <div class="col-sm-4">
                                                                <input class="form-control" type="time" value="00:00:00" id="example-time-input">
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <input class="form-control" type="time" value="23:59:59" id="example-time-input">
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <label class="col-sm-4 col-form-label">Jueves</label>
                                                            <div class="col-sm-4">
                                                                <input class="form-control" type="time" value="00:00:00" id="example-time-input">
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <input class="form-control" type="time" value="23:59:59" id="example-time-input">
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <label class="col-sm-4 col-form-label">Viernes</label>
                                                            <div class="col-sm-4">
                                                                <input class="form-control" type="time" value="00:00:00" id="example-time-input">
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <input class="form-control" type="time" value="23:59:59" id="example-time-input">
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <label class="col-sm-4 col-form-label">Sábado</label>
                                                            <div class="col-sm-4">
                                                                <input class="form-control" type="time" value="00:00:00" id="example-time-input">
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <input class="form-control" type="time" value="23:59:59" id="example-time-input">
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <label class="col-sm-4 col-form-label">Domingo</label>
                                                            <div class="col-sm-4">
                                                                <input class="form-control" type="time" value="00:00:00" id="example-time-input">
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <input class="form-control" type="time" value="23:59:59" id="example-time-input">
                                                            </div>
                                                        </div>
                                                </div>
                                                <div id="alert-notify" class="form-submenu-content form-content-cia-add">
                                                    <h5 class="mb-4 text-gray">Correo electrónco</h5>
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div class="form-check mb-3">
                                                                <input class="form-check-input" type="radio" name="formRadios" id="formRadio1" >
                                                                <label class="form-check-label" for="formRadio1">
                                                                    Ninguno
                                                                </label>
                                                            </div>
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="radio" name="formRadios" id="formRadio2">
                                                                <label class="form-check-label" for="formRadio2">
                                                                    Usuario
                                                                </label>
                                                            </div>
                                                            <select class="form-select mb-3" aria-label="Default select example">
                                                                <option selected="">Seleccionar vehículo</option>
                                                                <option value="1">José Cabrera</option>
                                                                <option value="2">Mariano Raposo</option>
                                                                <option value="3">Diego Colón</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="form-check mb-3">
                                                                <input class="form-check-input" type="radio" name="formRadios" id="formRadio3" checked="">
                                                                <label class="form-check-label" for="formRadio3">
                                                                    Todos los usuarios
                                                                </label>
                                                            </div>
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="radio" name="formRadios" id="formRadio4">
                                                                <label class="form-check-label" for="formRadio4">
                                                                    Grupo de usuarios
                                                                </label>
                                                            </div>
                                                            <select class="form-select" aria-label="Default select example">
                                                                <option selected="">Seleccionar grupo</option>
                                                                <option value="1">Logistica</option>
                                                                <option value="2">Transportación</option>
                                                                <option value="3">Gerencia</option>
                                                            </select>
                                                        </div>

                                                        <div class="col-sm-6">
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="radio" name="formRadios" id="formRadio2">
                                                                <label class="form-check-label" for="formRadio2">
                                                                    Dirección de correo electrónico
                                                                </label>
                                                            </div>
                                                            <input class="form-control" type="email" placeholder="example1@example.com,example2@example.com" id="example-email-input">
                                                        </div>
                                                    </div>

                                                    <h5 class="mb-4 text-gray mt-3">Mostrar en pantalla</h5>
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div class="form-check mb-3">
                                                                <input class="form-check-input" type="radio" name="formRadios" id="formRadio1" >
                                                                <label class="form-check-label" for="formRadio1">
                                                                    Ninguno
                                                                </label>
                                                            </div>
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="radio" name="formRadios" id="formRadio2">
                                                                <label class="form-check-label" for="formRadio2">
                                                                    Usuario
                                                                </label>
                                                            </div>
                                                            <select class="form-select mb-3" aria-label="Default select example">
                                                                <option selected="">Seleccionar vehículo</option>
                                                                <option value="1">José Cabrera</option>
                                                                <option value="2">Mariano Raposo</option>
                                                                <option value="3">Diego Colón</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="form-check mb-3">
                                                                <input class="form-check-input" type="radio" name="formRadios" id="formRadio3" checked="">
                                                                <label class="form-check-label" for="formRadio3">
                                                                    Todos los usuarios
                                                                </label>
                                                            </div>
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="radio" name="formRadios" id="formRadio4">
                                                                <label class="form-check-label" for="formRadio4">
                                                                    Grupo de usuarios
                                                                </label>
                                                            </div>
                                                            <select class="form-select" aria-label="Default select example">
                                                                <option selected="">Seleccionar grupo</option>
                                                                <option value="1">Logistica</option>
                                                                <option value="2">Transportación</option>
                                                                <option value="3">Gerencia</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <h5 class="mb-4 text-gray mt-3">Frecuencia de Notificación</h5>
                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <select class="form-select" aria-label="Default select example">
                                                                    <option selected="">Seleccionar</option>
                                                                    <option value="1">Una sola vez</option>
                                                                    <option value="2">Siempre</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                </div>
                                                <div id="alert-confirm" class="form-submenu-content form-content-cia-add">
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <label> Nombre de la alerta</label>
                                                            <input class="form-control" type="text" id="example-email-input">
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <label>Descripción</label>
                                                            <input class="form-control" type="text" id="example-email-input">
                                                        </div>
                                                        <div class="col-sm-6 mt-3">
                                                            <label>Estado</label>
                                                            <select class="form-select" aria-label="Default select example">
                                                                <option selected="">Activa</option>
                                                                <option value="1">Inactiva</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-sm-6 mt-3">
                                                            <label>Nivel de la alerta</label>
                                                            <select class="form-select" aria-label="Default select example">
                                                                <option value="1">Bajo</option>
                                                                <option value="2">Medio</option>
                                                                <option value="3">Alto</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light waves-effect" data-bs-dismiss="modal">Cancelar</button>
                                    <button type="submit" class="btn btn-outline-primary waves-effect waves-light">Guardar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="modalEditCompany" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="modalEditCompanyLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalEditCompanyLabel">Editar Empresa</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form id="form-edit-company" class="form-app-inputs needs-validation">    
                                <div class="modal-body">
                                    <div id="modal-add-company">
                                        <div class="row">
                                            <ul class="form-submenu-left form-sb-left-cia-edit">
                                                <li class="active" ref-form="edit-companies-general" ref-parent="form-sb-left-cia-edit" ref-content="form-content-cia-edit">General</li>
                                                <li ref-form="edit-alert-config" ref-parent="form-sb-left-cia-edit" ref-content="form-content-cia-edit">Contacto</li>
                                                <li ref-form="edit-companies-modules" ref-parent="form-sb-left-cia-edit" ref-content="form-content-cia-edit">Modulos / Otros</li>
                                            </ul>
                                            <div class="form-submenu-container">
                                                <div id="edit-companies-general" class="form-submenu-content form-content-cia-edit active">
                                                    <p>general</p>
                                                </div>
                                                <div id="edit-alert-config" class="form-submenu-content form-content-cia-edit">
                                                    <p>informacon</p>
                                                </div>
                                                <div id="edit-companies-modules" class="form-submenu-content form-content-cia-edit">
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light waves-effect" data-bs-dismiss="modal">Cancelar</button>
                                    <button type="submit" class="btn btn-outline-danger waves-effect waves-light">Guardar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="table-responsive mt-3">
                    <div id="div-test"></div>
                    <table id="dtCustomers" class="table table-centered activate-select  w-100 datatable dt-responsive nowrap " style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                        <thead class="thead-light">
                            <tr>
                                <th style="width: 20px;">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="customercheck">
                                        <label class="form-check-label mb-0" for="customercheck">&nbsp;</label>
                                    </div>
                                </th>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>Asignado</th>
                                <!-- <th>Wallet Balance</th>
                                <th>Joining Date</th> -->
                                <th style="width: 120px;">Action</th>
                            </tr>
                        </thead>
                        <!--  -->
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<%- contentFor('FooterJs') %>

 <!-- Required datatable js -->
 <script src="public/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
 <script src="public/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
 
 <!-- Responsive examples -->
 <script src="public/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
 <script src="public/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
 <!-- <script src="public/assets/libs/bs-custom-file-input/bs-custom-file-input.min.js"></script> -->
 
 <!-- <script src="public/assets/js/pages/app.helper.js"></script> -->
 <script src="public/assets/js/pages/adm-companies.init.js"></script>

<%- contentFor('BottomJs') %>